<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/favicon.jpg" />
  <title>Playlist Creator Online</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/playlistcreator.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <span class="display-flex p-2">
      <a href="/"><img src="/img/logo.png" class="logo-img" alt="Logo" aria-label="Melody Medley logo" /></a>
      <h1>Melody Medley</h1>
    </span>
    <nav>
      <a class="btn btn-black" href="/playlists/">playlists</a>
      <a class="btn btn-black" href="/artists/">artists</a>
      <a class="btn btn-black" href="/songs/">songs</a>
      <a class="btn btn-black" href="/genres/">genres</a>
      {{#if logged_in}}
      <a class="btn btn-info" href="/mine">my playlists</a>
      <button class="btn" id="logout">logout</button>
      {{else}}
      <a class="btn" id="login" href="/login">login</a>
      {{/if}}
    </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}

  </main>
  <footer>
    &copy; 2022 Music Medley Dev Team
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>