<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Playlist Creator Online</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/playlistcreator.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>Melody Medley</h1>
    <nav>
    {{#if logged_in}}
      <button class="btn" id="logout">logout</button>
    {{else}}
      <a class="btn" id="login" href="/login">login</a>
      {{!-- <button class="btn" id="login" onClick="window.location='/login'">login</button> --}}
    {{/if}}
    </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      &copy; 2022 Music Medley Dev Team
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
