body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background.jpg")no-repeat center center fixed;
}

header {
    background-color: #ff7f50;
    padding: 1rem;
}

footer {
    background-color: #ff7f50;
    text-align: center;
    padding: 1rem;
}

.container {
    background-color: #f5f5dc;
    padding: 1rem;
}

.listing {
    border-bottom: 2px solid #000;
}

.hideOnUpload {
    display: block !important;
}

.showOnUpload {
    display: none !important;
}

div .index {
    border: 2px solid #000;
    margin: 5px 0px;
    padding: 5px;
}

.image {
    max-width: 350px;
}

dt {
    min-width: 25%;
}

a.btn:hover {
    text-decoration: none;
}

ul.songs-list {
    list-style-type: none;
}

a.addToPlaylist {
    margin-bottom: 5px !important;
}

form select {
    padding: 0.5rem 1.5rem;
    line-height: 1.5;
}