.Signup{display: none;
    position: absolute;
    border: 3px solid purple;
    top: 30%;
    left: 36%;
    box-shadow:4px 4px 4px rgb(77, 74, 74, .6);
    
   }
.form-container{
    max-width: 800px;
    padding: 80px;
    background-color: white;
    border: black;
    border-style: solid;
    background-image: url("musicNotes.jpeg");
    
}
.form-content{
    right: 30%; 
}
.form-container input[type=userName]:focus, .form-container input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .Create-title{
      font-size: xx-large;
      font-weight: bolder;
      font-style: italic;
      border-style: solid;
      padding: 2px;
      background: rgba(211, 207, 207, 0.3);
      text-decoration: black;
      box-shadow: 4px 4px 4px rgb(77, 74, 74, .6);
  }
  *.text{
      font-size: large;
      font-weight: bold;
  }
.btn{
    font-size: x-large;
     padding: 2%;
     margin: 1%;
     background-color: rgba(169, 169, 175, .1);
     box-shadow: 4px 4px 4px rgb(77, 74, 74, .6);
     display: inline;

 }
 .btn-cancel{
    font-size: x-large;
     padding: 2%;
     margin: 1%;
     background-color: rgba(169, 169, 175, .1);
     box-shadow: 4px 4px 4px rgb(77, 74, 74, .6);
display: inline;
 }
 *.signup-input{
     padding: 1%;
     box-shadow: 1px 1px 1px rgb(77, 74, 74, .6);
 }